@font-face {
    font-family: Montserrat;
    src: url("@/assets/fonts/montserrat.regular.ttf");
}

@font-face {
    font-family: Nexa-Light;
    src: url("@/assets/fonts/Nexa-Light.otf");
}

@font-face {
    font-family: Nexa-Bold;
    src: url("@/assets/fonts/Nexa-Bold.otf");
}

.font-montserrat {
    font-family: Montserrat;
}

.font-nexa-light {
    font-family: Nexa-Light;
}

.font-nexa-bold {
    font-family: Nexa-Bold;
}
/* 
html{
    max-width: 1536px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    background-color: #f9fafb;
} */

/* .wg-default,
.wg-default .country-selector {
    top: 0 !important;
    left: 50% !important;
    right: 50% !important;
    bottom: auto !important;
    position: absolute !important;
} */